<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic,900">
  <link rel="stylesheet" href="/css/screen.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1.0">
  <title>Plumplot • Documentation</title>
  <meta property="og:title" content="Documentation for interactive plumplot analytics." />
  <meta name="description" content="Interactive analytic which visualises the latest house prices in England &amp; Wales." />
  <meta property="og:description" content="Interactive analytic which visualises the latest house prices in England &amp; Wales." />
  <link rel="canonical" href="https://a.plumplot.co.uk" />
  <meta property="og:url" content="https://docs.plumplot.co.uk" />
  <meta property="og:site_name" content="England house price advisor documentation" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="/img/house.png">
</head>
